@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  * {
    outline: none;
  }

  body {
    background-color: #fefbf7;
    /* background-image: linear-gradient(to bottom, #fcfcfc, #f6f6f6); */
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
}

.group-header-column-demo .ka-thead-grouped-cell {
  box-shadow: inset 0px 0px 0px 1px #f9fbfc;
}

.group-header-column-demo .ka-cell {
  border: 1px solid #f9fbfc;
}

.group-header-column-demo .ka-thead-cell-content {
  text-align: center;
}
